.layout
    height 100%
.sider
    box-shadow 0 0 1px #CCC
    background #FFF
    padding 20px
    height 100%
    h3
        line-height 30px
        margin-bottom 15px
        border-bottom 1px solid #EEE
    :global
        .ant-form-item
            margin-bottom 10px

.content
    padding 20px