.layout
    height 100%
.header
    background #f6f7f8
    text-align center
    height 42px
    line-height 42px
    button
        width 120px
        margin 0 5px
        border 0
        background-color transparent
        &:hover
            background-color #F96868
            color #FFF


.active button
    background-color #F96868
    color #FFF

.content
    padding 20px