{
    "presets": [
        "react"
    ],
    "plugins": [
        [
            "import",
            {"libraryName": "antd"}
        ],
        "transform-decorators-legacy",
        "transform-object-rest-spread",
        "transform-class-properties"
    ]
}