.container
    :global
        .ant-pagination
            margin-right 16px
.tableform
    margin 10px 0
    padding-left 10px
.tablesubmit
    float right
.layout
    height 100%
.header
    height 40px
    padding 0 20px
    background none
    display flex
    align-items center
    justify-content flex-end
    box-shadow 0 0 1px #CCC inset
.content
    padding 20px
