.container
    :global
        .ant-pagination
            margin-right 16px
.tableform
    margin 10px 0
    padding-left 10px

.table-tag
    margin-bottom 10px

.ant-advanced-search-form
    padding 24px
    background #fbfbfb
    border 1px solid #d9d9d9
    border-radius 6px

.layout
    height 100%
.sider
    box-shadow 0 0 1px #CCC
    background #FFF
    padding 20px
    h3
        line-height 30px
        margin-bottom 15px
        border-bottom 1px solid #EEE
    :global
        .ant-form-item
            margin-bottom 10px
.header
    height 40px
    padding 0 20px
    background none
    display flex
    align-items center
    justify-content flex-end
    box-shadow 0 0 1px #CCC inset
.content
    padding 20px
.form-item-label
    line-height 30px
    font-size 13px
.buttons
    display flex
    margin-top 25px
    justify-content space-between
