.text-num
    position absolute
    right 5px
    top 5px
    margin 0
.form
    height 100%
.disappear
    display none
.goback
    margin-left 30px
.upload
    position absolute
    top 40px
    left 180px
    z-index 100
.layout
    height 100%
.content
    overflow auto
.editor
    // max-width 1000px
    min-width 760px
    padding 20px 0
    max-width 800px
    margin 0 auto
    :global
        .ant-form-item:nth-child(3)
            margin-bottom 0
.footer
    height 60px
    padding 0
    box-shadow 0 0 1px #CCC
    justify-content center
    align-items center
    display flex
    :global
        .ant-btn
            margin 0 5px
:global
    .fr-box.fr-basic .fr-element
        min-height calc(100vh - 400px) !important
@media (max-width 990px) 
    .upload 
        top 3px
        left 425px
