.container
    background-color #abe7db
    height 100%
    overflow hidden
    display flex
    align-items center
    justify-content center
    position relative

.login-form
    width 400px
    :global
        input
            padding 24px 8px
            font-size 16px
            background-color alpha(#fff, .8)
        button
            padding 13px
        .ant-input-group-addon
            font-size 18px
            color #999
            background-color alpha(#fff, .8)
        .ant-input-group-addon
            padding-left 12px
            padding-right @padding-left

.bicycle
    position absolute
    width 300px
    height auto
    display block
    bottom 0
    right -50px