.container
    height 100%
    :global
        .ant-spin-nested-loading
            height 100%
        .ant-spin-container
            height 100%

.dev-tool
    position absolute
    left 8px
    bottom 8px
    z-index 999
    width 30px
    height 30px
    line-height 30px
    background-color transparent
    font-size 18px
    border-radius 50%
    color #eee
    cursor pointer
    transition .3s
    &:hover
        background-color #108ee9
        color #fff