.container
    :global
        .ant-pagination
            margin-right 16px

.bind-upstream-tag
    margin-bottom 3px
.layout
    height 100%
.sider
    box-shadow 0 0 1px #CCC
    background #FFF
.header
    height 40px
    padding 0 20px
    background none
    display flex
    align-items center
    justify-content flex-end
    box-shadow 0 0 1px #CCC inset
.content
    padding 20px
