.container
    width 240px
    max-height 200px
    background #FFF
    box-shadow 0 0 3px #CCC
    border-radius 3px
    position absolute
    bottom 20px
    right 20px
    z-index 99
.upstream
    padding 5px
    height 60px
    box-shadow 0 0 1px #CCC
.upstream-header
    height 20px
    line-height 20px
    width 100%
    margin-bottom 8px
.upstream-logo
    width 20px
    height 100%
    float left
    img
        width 100%
        height 100%
        display block
.upstream-name
    float left
    margin-left 5px
    width 80px
    height 100%
.checkbox-group
    margin-bottom 15px
    padding 5px 0
    .checkbox-group-all
        padding 5px 0
        span
            font-size 14px
            font-weight bold
    .checkbox-group-list
        padding-left 25px
.browser
    position fixed
    top 0
    bottom 0
    left 0
    right 0
    overflow hidden
    z-index 100
    background #F6F7F8
    display flex
    flex-direction column
    .browser-header
        height 30px
        line-height 30px
        display flex
        .browser-tabbars
            height 100%
            flex 1
            display flex
            .browser-tabbar
                flex 1
                max-width 160px
                overflow hidden
                padding 0 5px
                cursor pointer
            .browser-tabbar-active
                background #FFF
        .browser-close
            border 0
            width 30px
            height 30px
            background #F6F7F8
    .browser-content
        background #FFF
        flex 1
        display flex
    .browser-webview
        position absolute
        width 100%
        height 100%