.contianer
    position relative
    width 900px
    box-shadow 0 0 1px #999
    canvas
        width 100%
        display block
    img
        width 100%
        height auto
    aside
        position absolute
        width 0
        height 0
        display block
        border 1px solid #ccc
        background-color rgba(200,200,200,.8)