@import "~antd/dist/antd.less";

@primary-color: #8bc34a;
@error-color: #f96868;
// @border-radius-base: 12px;


// @input-padding-horizontal: 16px;
// .ant-select-selection__rendered {
//     margin-left: 16px;
//     margin-right: 16px;
// }
// @link-color: @blue-6;
// @link-hover-color: @blue-5;
// @link-active-color: @blue-7;

.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    padding: 8px;
}
.ant-table-bordered .ant-table-header > table {
    border-color: #FFF;
}
.ant-table-bordered .ant-table-body > table, .ant-table-bordered .ant-table-thead > tr > th, .ant-table-bordered .ant-table-tbody > tr > td {
    border-color: #FFF;
}
.ant-layout {
    background: none;
}


.fr-toolbar {
    border-top: 1px solid #eee !important;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px
}

::-webkit-scrollbar-track {
    background: 0 0
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 1px
}

::-webkit-scrollbar-thumb:hover {
    background-color: #666
}

::-webkit-scrollbar-corner {
    background-color: #535353
}

::-webkit-scrollbar-resizer {
    background-color: #FF6E00
}
