@import "~antd/dist/antd.less";

@primary-color: #8bc34a;
@error-color: #e91e63;
@border-radius-base: 8px;

// @input-padding-horizontal: 16px;
// .ant-select-selection__rendered {
//     margin-left: 16px;
//     margin-right: 16px;
// }
// @link-color: @blue-6;
// @link-hover-color: @blue-5;
// @link-active-color: @blue-7;